build/
nbproject/
dist/
test/
nbproject/project.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
*.properties
